bg {
  layer-speeds: 0.3;
  layer-cpu-levels: 1;
  layer-textures: "bg";
}

world {
  danger-color: #ff00001a;
  edge-color: #0000ff;
  edge-width: 40;
  blue-color: #0000ff1a;
}

fish {
  &.cyan {
    textures: "food_cyan_glow", "fish_cyan";
  }
  &.blue {
    textures: "food_blue_glow", "fish_blue";
  }
  &.green {
    textures: "food_green_glow", "fish_green";
  }
  &.pink {
    textures: "food_pink_glow", "fish_pink";
  }
  &.orange {
    textures: "food_orange_glow", "fish_orange";
  }
  &.red {
    textures: "food_red_glow", "fish_red";
  }
  &.yellow {
    textures: "food_yellow_glow", "fish_yellow";
  }
}

ship {
  textures: "ship_gray";
  selector: "ship_gray";

  &.gray {
    textures: "ship_gray";
    selector: "ship_gray";
  }

  &.secret {
    textures: "ship_secret";
    selector: "ship_secret";
  }

  &.zed {
    textures: "ship_zed";
    selector: "ship_zed";
  }

  &.cyan {
    textures: "ship_cyan";
    selector: "ship_cyan";

    &.upgrade1 {
      textures: "ship_cyan_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_cyan_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_cyan_upgrade_3";
    }

    &.boost {
      textures: "dash_trail_cyan", "particle_ship_cyan", "ship_cyan";

      &.upgrade1 {
        textures:
          "dash_trail_cyan", "particle_ship_cyan", "ship_cyan_upgrade_1";
      }
      &.upgrade2 {
        textures:
          "dash_trail_cyan", "particle_ship_cyan", "ship_cyan_upgrade_2";
      }
      &.upgrade3 {
        textures:
          "dash_trail_cyan", "particle_ship_cyan", "ship_cyan_upgrade_3";
      }
    }
  }

  &.blue {
    textures: "ship_blue";
    selector: "ship_blue";

    &.upgrade1 {
      textures: "ship_blue_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_blue_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_blue_upgrade_3";
    }

    &.boost {
      textures: "dash_trail_blue", "particle_ship_blue", "ship_blue";

      &.upgrade1 {
        textures:
          "dash_trail_blue", "particle_ship_blue", "ship_blue_upgrade_1";
      }
      &.upgrade2 {
        textures:
          "dash_trail_blue", "particle_ship_blue", "ship_blue_upgrade_2";
      }
      &.upgrade3 {
        textures:
          "dash_trail_blue", "particle_ship_blue", "ship_blue_upgrade_3";
      }
    }
  }

  &.green {
    textures: "ship_green";
    selector: "ship_green";

    &.upgrade1 {
      textures: "ship_green_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_green_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_green_upgrade_3";
    }

    &.boost {
      textures: "dash_trail_green", "particle_ship_green", "ship_green";

      &.upgrade1 {
        textures:
          "dash_trail_green", "particle_ship_green", "ship_green_upgrade_1";
      }
      &.upgrade2 {
        textures:
          "dash_trail_green", "particle_ship_green", "ship_green_upgrade_2";
      }
      &.upgrade3 {
        textures:
          "dash_trail_green", "particle_ship_green", "ship_green_upgrade_3";
      }
    }
  }

  &.orange {
    textures: "ship_orange";
    selector: "ship_orange";

    &.upgrade1 {
      textures: "ship_orange_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_orange_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_orange_upgrade_3";
    }

    &.boost {
      textures: "dash_trail_orange", "particle_ship_orange", "ship_orange";

      &.upgrade1 {
        textures:
          "dash_trail_orange", "particle_ship_orange", "ship_orange_upgrade_1";
      }
      &.upgrade2 {
        textures:
          "dash_trail_orange", "particle_ship_orange", "ship_orange_upgrade_2";
      }
      &.upgrade3 {
        textures:
          "dash_trail_orange", "particle_ship_orange", "ship_orange_upgrade_3";
      }
    }
  }

  &.pink {
    textures: "ship_pink";
    selector: "ship_pink";

    &.upgrade1 {
      textures: "ship_pink_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_pink_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_pink_upgrade_3";
    }

    &.boost {
      textures: "dash_trail_pink", "particle_ship_pink", "ship_pink";

      &.upgrade1 {
        textures:
          "dash_trail_pink", "particle_ship_pink", "ship_pink_upgrade_1";
      }
      &.upgrade2 {
        textures:
          "dash_trail_pink", "particle_ship_pink", "ship_pink_upgrade_2";
      }
      &.upgrade3 {
        textures:
          "dash_trail_pink", "particle_ship_pink", "ship_pink_upgrade_3";
      }
    }
  }

  &.red {
    textures: "ship_red";
    selector: "ship_red";

    &.upgrade1 {
      textures: "ship_red_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_red_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_red_upgrade_3";
    }

    &.boost {
      textures: "dash_trail_red", "particle_ship_red", "ship_red";

      &.upgrade1 {
        textures: "dash_trail_red", "particle_ship_red", "ship_red_upgrade_1";
      }
      &.upgrade2 {
        textures: "dash_trail_red", "particle_ship_red", "ship_red_upgrade_2";
      }
      &.upgrade3 {
        textures: "dash_trail_red", "particle_ship_red", "ship_red_upgrade_3";
      }
    }
  }

  &.yellow {
    textures: "ship_yellow";
    selector: "ship_yellow";

    &.upgrade1 {
      textures: "ship_yellow_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_yellow_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_yellow_upgrade_3";
    }

    &.boost {
      textures: "dash_trail_yellow", "particle_ship_yellow", "ship_yellow";

      &.upgrade1 {
        textures:
          "dash_trail_yellow", "particle_ship_yellow", "ship_yellow_upgrade_1";
      }
      &.upgrade2 {
        textures:
          "dash_trail_yellow", "particle_ship_yellow", "ship_yellow_upgrade_2";
      }
      &.upgrade3 {
        textures:
          "dash_trail_yellow", "particle_ship_yellow", "ship_yellow_upgrade_3";
      }
    }
  }

  &.grey {
    textures: "ship_grey";
    selector: "ship_grey";
    &.upgrade1 {
      textures: "ship_grey_upgrade_1";
    }
    &.upgrade2 {
      textures: "ship_grey_upgrade_2";
    }
    &.upgrade3 {
      textures: "ship_grey_upgrade_3";
    }
  }

  &.purple {
    textures: "ship_purple";
    selector: "ship_purple";
  }

  &.ab {
    &.cyan {
      textures: "ship_ab_cyan";
      selector: "ship_ab_cyan";
    }

    &.blue {
      textures: "ship_ab_blue";
      selector: "ship_ab_blue";
    }

    &.green {
      textures: "ship_ab_green";
      selector: "ship_ab_green";
    }

    &.orange {
      textures: "ship_ab_orange";
      selector: "ship_ab_orange";
    }

    &.pink {
      textures: "ship_ab_pink";
      selector: "ship_ab_pink";
    }

    &.red {
      textures: "ship_ab_red";
      selector: "ship_ab_red";
    }

    &.yellow {
      textures: "ship_ab_yellow";
      selector: "ship_ab_yellow";
    }
  }

  &.offenseupgrade {
    textures: inherit, "offenseupgrade";
  }

  &.defenseupgrade {
    textures: inherit, "defenseupgrade";
  }

  &.invulnerable {
    textures: inherit, "invulnerable";
  }

  &.shield {
    textures: inherit, "shield";
  }
}

ship0 {
  textures: "ship0";
  selector: "ship0";

  &.boost {
    textures: inherit, "thruster_cyan";
  }

  &.offenseupgrade {
    textures: inherit, "offenseupgrade";
  }

  &.defenseupgrade {
    textures: inherit, "defenseupgrade";
  }

  &.invulnerable {
    textures: inherit, "invulnerable";
  }

  &.shield {
    textures: inherit, "shield";
  }
}

bullet {
  textures: "bullet";

  &.cyan {
    textures: "bullet_cyan", "laser_cyan_trail", "bullet_emitter_cyan";
  }

  &.blue {
    textures: "bullet_blue", "laser_blue_trail", "bullet_emitter_blue";
  }

  &.green {
    textures: "bullet_green", "laser_green_trail", "bullet_emitter_green";
  }

  &.orange {
    textures: "bullet_orange", "laser_orange_trail", "bullet_emitter_orange";
  }

  &.pink {
    textures: "bullet_pink", "laser_pink_trail", "bullet_emitter_pink";
  }

  &.red {
    textures: "bullet_red", "laser_red_trail", "bullet_emitter_red";
  }

  &.yellow {
    textures: "bullet_yellow", "laser_yellow_trail", "bullet_emitter_yellow";
  }
}

obstacle {
  textures: "obstacle";
}

wormhole {
  textures: "wormhole";
}

seeker {
  textures: "seeker";
}

seeker.pickup {
  textures: "seeker_pickup";
}

shield.pickup {
  textures: "shield_pickup";
}

ctf.base {
  textures: "ctf_base";
}

ctf.flag.blue {
  textures: "ctf_flag_blue";
}

ctf.flag.red {
  textures: "ctf_flag_red";
}

map {
  textures: "map";
}

boom {
  textures: "boom_sparkles_cyan";

  &.cyan {
    textures: "boom_sparkles_cyan";
  }
  &.blue {
    textures: "boom_sparkles_blue";
  }
  &.green {
    textures: "boom_sparkles_green";
  }
  &.orange {
    textures: "boom_sparkles_orange";
  }
  &.pink {
    textures: "boom_sparkles_pink";
  }
  &.red {
    textures: "boom_sparkles_red";
  }
  &.yellow {
    textures: "boom_sparkles_yellow";
  }
}
